.material-button {
    -fx-background-color: #27c032;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-padding: 5 16 5 16;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.material-button:hover {
    -fx-background-color: #20e32e;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-padding: 5 16 5 16;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.material-button:pressed {
    -fx-background-color: #1f9f28;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-padding: 5 16 5 16;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.material-button-red {
    -fx-background-color: #c02727;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-padding: 5 16 5 16;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.material-button-red:hover {
    -fx-background-color: #e32020;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-padding: 5 16 5 16;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.material-button-red:pressed {
    -fx-background-color: #9f1f1f;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-padding: 5 16 5 16;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.material-text-field {
    -fx-background-color: #ededed;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-text-fill: #b2b2b2;
    -fx-border-color: transparent transparent #b2b2b2 transparent;
    -fx-border-width: 3;
}

.material-text-field:focused {
    -fx-background-color: #ededed;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-text-fill: black;
    -fx-border-color: transparent transparent #20e32e transparent;
    -fx-border-width: 3;
}

.material-text-area {
    -fx-background-color: #ffffff;
    -fx-background-radius: 2, 2, 2, 2;
}

.material-text-area:focused {
    -fx-background-color: #ffffff;
    -fx-background-radius: 2, 2, 2, 2;
    -fx-border-color: #20e32e;
}

.material-separator {
    -fx-background-color: #e0e0e0;
    -fx-max-width: 400;
}

.material-canvas {
    -fx-border-width: 1;
    -fx-border-insets: -1;
    -fx-border-color: #20e32e #20e32e #20e32e #20e32e;
}

.material-color-picker {
    -fx-background-color: #ffffff;
    -fx-border-radius: 2, 2, 2, 2;
}